IndexFile config/lists.index
IndexContents HTML2 .html
#IndexDir /var/lib/mailman/archives/private/abnf
IndexDir /var/lib/mailman/archives/private/epm
IndexDir /var/lib/mailman/archives/private/htmldoc
IndexDir /var/lib/mailman/archives/private/mxml
IndexDir /var/lib/mailman/archives/private/newsd
#IndexDir /var/lib/mailman/archives/private/rasterview
ReplaceRules replace "/var/lib/mailman/archives/private" "pipermail"
FileRules pathname regex /\.(gz|pck|pdf|txt)$/
FileRules pathname contains (author\.html|date\.html|index\.html|subject\.html|thread\.html)
FileRules dirname contains (attachments|database)
