<?php
//
// Site configuration file for pwg.org...
//
// Copy this file to "site.cfg" and update as needed.  NEVER add the "site.cfg"
// file to the Git repository, as this configuration file needs to be local to
// the system.
//

// Site defaults...
$SITE_DOCROOT  = "/";
$SITE_EMAIL    = "webmaster@pwg.org";
$SITE_HOSTNAME = "www.pwg.org";
$SITE_NAME     = "PWG.org";
$SITE_REGISTER = "registration@pwg.org";
$SITE_SECRET   = "";		// Additional random string for SID - run "openssl rand -hex 32"
$SITE_TIMEZONE = "America/New_York";
$SITE_URL      = "http://$SITE_HOSTNAME/pwg.org";

// Some static database access info.
$DB_ADMIN    = "$SITE_EMAIL";
$DB_DEBUG    = FALSE;
$DB_HOST     = "localhost";
$DB_NAME     = "pwg";
$DB_USER     = "USER";
$DB_PASSWORD = "PASSWORD";

// FTP server account info.
$FTP_USER     = "pwg";
$FTP_PASSWORD = "";


//
// End of "$Id: db.php 3 2012-06-28 21:17:48Z msweet $".
//
?>
