/* Standard fonts and colors */
/* PWG logo color is #4b5aa8, highlight is #b8c3ff, lowlight is #262d54 */

body {
  background: #f0f0e8;
  color: black;
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
  font-size: 16px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, td, th {
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
}

h1 {
  font-size: 200%;
  font-weight: bold;
}

h2 {
  border-bottom: 1px solid #ccccc0;
  font-size: 125%;
  font-weight: bold;
  padding-bottom: 10px;
}

h2 small {
  color: #666;
  font-size: 75%;
  font-style: italic;
  white-space: nowrap;
}

h3 {
  font-size: 120%;
  font-weight: bold;
}

h4 {
  font-size: 115%;
  font-weight: bold;
}

blockquote {
  background: #e0e0d8;
  border: dotted thin black;
  border-radius: 8px;
  color: black;
  font-size: 100%;
  font-style: italic;
  margin-left: 20px;
  padding: 10px;
  width: 90%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

blockquote a {
  font-style: normal;
}

hr {
  border: none;
  border-bottom: solid thin #303028;
}

sub, sup {
  font-size: 50%;
}

a.btn:hover {
  text-decoration: none;
}

table.grid {
  border-collapse: collapse;
  width: 100%;
}
table.grid td {
  border: thin solid #d0d0c8;
  padding: 20px;
  text-align: center;
  vertical-align: bottom;
  width: 50%;
}

# Collapsible panel support
.panel, .panelcollapsed {
}

.panel h2::after, .panelcollapsed h2::after {
  background: #303028;
  border-radius: 8px;
  color: white;
  padding: 4px 8px;
  font-size: 50%;
  margin-left: 1em;
  text-decoration: none;
}

.panel h2::after:hover, .panelcollapsed h2::after:hover {
  background: #606050;
  color: white;
}

.panel h2::after:active, .panelcollapsed h2::after:active {
  background: #c0c0a0;
  color: black;
}

.panel h2::after {
  content: "Hide";
}

.panelcollapsed h2::after {
  content: "Show";
}

.panelcontent {
  margin: 0px 2em;
  overflow: hidden;
}

.panelcollapsed .panelcontent {
  display: none;
}

/* Appearance tweaks for navigation bar */
.pwg-navbar {
  background: #303028;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 145px;
  margin: 0px 10px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
}

.pwg-navbar-title {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  height: 50px;
  line-height: 22px;
  margin-left: 100px;
  margin-top: 30px;
}

.pwg-navbar-title small {
  color: #ccccc0;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}

#pwg-search-form {
  float: right;
  margin-top: 15px;
  width: 25%;
}

.pwg-navbar .navbar-nav > li > a, .pwg-navbar .navbar-nav > li > a:visited {
  color: #ccccc0;
  font-size: 14px;
  padding-top: 10px;
}

#pwg-nav-collapsible {
  margin-top: 20px;
  padding-left: 0px;
}

/* Search content */
#pwg-search-results {
  background: inherit;
  margin: 10px 10px 0px;
}

.cse .gsc-control-cse,
.gsc-control-cse {
  background: inherit;
  border: none;
  margin: 0px;
  padding: 0px;
}
.cse .gsc-tabsArea,
.gsc-tabsArea {
  display: none;
}
input.gsc-input {
  border-color: #BCCDF0;
}
input.gsc-search-button {
  border-color: #666666;
  background-color: #CECECE;
}
.gsc-tabHeader.gsc-tabhInactive {
  border: none;
  background-color: #E9E9E9;
}
.gsc-tabHeader.gsc-tabhActive {
  border: none;
  background-color: inherit;
}
.gsc-tabsArea {
  border: none;
  margin-top: 0px;
}
.gsc-webResult.gsc-results {
  margin: 0px;
  padding: 0px;
}
.gsc-webResult.gsc-result {
  background-color: inherit;
  border: none;
  margin-bottom: 10px;
  padding: 0px;
}
.gsc-webResult.gsc-result:hover {
  background-color: inherit;
  border: none;
}
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b,
a.gsc-trailing-more-results:link {
  color: #000099;
}
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b {
  color: #990099;
}
.gsc-cursor-box {
  border: none;
  margin: 10px 0px 0px;
}
.gsc-cursor-page {
  background: inherit;
  border: none;
  color: #000099;
}
.gs-webResult.gs-result .gs-snippet {
  color: #000000;
}
.gs-webResult.gs-result .gs-visibleUrl,
.gs-webResult.gs-result .gs-visibleUrl-short {
  color: #008000;
}
.gs-webResult.gs-result .gs-visibleUrl-long {
  display: block;
}
.cse .gs-promotion.gs-result,
.gs-promotion.gs-result {
  border-color: #f0f0e8 important;
  background-color: #f0f0e8 important;
}
.gs-promotion.gs-result a.gs-title:link,
.gs-promotion.gs-result a.gs-title:visited {
  color: #000088;
}
.gs-promotion.gs-result a.gs-title:hover,
.gs-promotion.gs-result a.gs-title:active {
  color: #880088;
}
.gs-promotion.gs-result .gs-snippet {
  color: #000000;
}
.gs-promotion.gs-result .gs-visibleUrl,
.gs-promotion.gs-result .gs-visibleUrl-short {
  color: #007000;
}

/* Body content */
#pwg-body {
  background-color: #fff;
  border: solid thin #fff;
  border-radius: 8px;
  color: #000;
  margin: 10px;
  padding: 0px 10px 10px; /* top right+left bottom */
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#pwg-toc-button {
  margin-top: 10px;
}

#pwg-content {
}

/* Footer */
#pwg-footer {
  background-color: #303028;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  clear: both;
  color: #cccccc;
  font-size: 10px;
  margin: 10px 10px 0px; /* top right+left bottom */
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

#pwg-footer-body {
  padding: 10px;
}

#pwg-footer-body a {
  color: #ccccc0;
  text-decoration: underline;
}
