/* Standard fonts and colors */
/* PWG logo color is #4b5aa8, highlight is #b8c3ff, lowlight is #262d54 */

body {
  background-color: #fff;
  color: #000;
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
  font-size: 16px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, td, th {
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
}

.jumbotron {
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 1px;
}

.jumbotron, #pwg-rolling, #pwg-rolling .carousel-inner {
  height: 300px;
}

.form-horizontal .control-label {
  padding-top: 0px;
}

#pwg-rolling ol.carousel-indicators {
  bottom: 10px;
}

#pwg-rolling ol.carousel-indicators li {
  border-color: #909078;
}

#pwg-rolling ol.carousel-indicators li.active {
  background: #d0d0c8;
}

h1, .jumbotron h1 {
  font-size: 200%;
  font-weight: bold;
}

h1.pwg-title {
  margin: 0px 0px 20px;
}

h1 small {
  font-style: italic;
}

h2 {
  border-bottom: 1px solid #ccccc0;
  font-size: 125%;
  font-weight: bold;
  padding-bottom: 10px;
}

h2 small {
  color: #666;
  font-size: 75%;
  font-style: italic;
  white-space: nowrap;
}

h3 {
  font-size: 120%;
  font-weight: bold;
}

h4 {
  font-size: 115%;
  font-weight: bold;
}

blockquote {
  background: #e0e0d8;
  border: dotted thin black;
  border-radius: 8px;
  color: black;
  font-size: 100%;
  font-style: italic;
  margin-left: 20px;
  padding: 10px;
  width: 90%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

blockquote a {
  font-style: normal;
}

hr {
  border: none;
  border-bottom: solid thin #303028;
}

sub, sup {
  font-size: 50%;
}

a.btn:hover {
  text-decoration: none;
}

table.grid {
  border-collapse: collapse;
  width: 100%;
}
table.grid td {
  border: thin solid #d0d0c8;
  padding: 20px;
  text-align: center;
  vertical-align: bottom;
  width: 50%;
}

.col-sm-10 {
  padding-left: 0px;
}

a:link.btn-default {
  color: #000;
}

a:link.btn-primary {
  color: #fff;
}

.form-control {
  display: inline-block;
  height: auto;
  width: auto;
}

input[type="checkbox"] {
  height: 16px !important;
}

/* Some old site styles we are keeping around for now... */
#PWGInfo TD {
  padding-right: 10px;
  padding-bottom: 20px;
}

#PWGInfo H2 {
  margin: 0 0;
  padding: 0 0;
}

#PWGInfo P {
  margin: 0 0;
  padding: 5px 0;
}

TABLE.PWGList {
  border-bottom: solid thin #909078;
  border-collapse: collapse;
  border-top: solid thin #909078;
  margin: 0px;
  padding: 0px;
}

TABLE.PWGList TR:nth-child(even) {
  background: #f0f0e8;
}

TABLE.PWGList TR:nth-child(odd) {
  background: #e0e0d8;
}

TABLE.PWGList TD {
  margin: 0px;
  padding: 5px;
  vertical-align: top;
}

P.PWGHanging {
  text-indent: -2em;
  margin-left: 2em;
}

P.PWGList A {
  white-space: nowrap;
}

/* Appearance tweaks for navigation bar */
.pwg-navbar {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin: 0px 10px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
}

#pwg-search-form {
  float: right;
  margin-top: 15px;
  max-width: 130px;
  width: 15%;
}

.pwg-navbar .navbar-nav > li > a, .pwg-navbar .navbar-nav > li > a:visited {
  color: #ccccc0;
  font-size: 14px;
  padding-top: 0px;
}

#pwg-nav-collapsible {
  margin-top: 20px;
  padding-left: 0px;
}

/* Search content */
#pwg-search-results {
  background: inherit;
  margin: 10px 10px 0px;
  padding: 0px;
}

.cse .gsc-control-cse,
.gsc-control-cse {
  background: inherit;
  border: none;
  margin: 0px;
  padding: 0px;
}
.cse .gsc-tabsArea,
.gsc-tabsArea {
  display: none;
}
td.gsc-input {
  padding-right: 0px !important;
}
input.gsc-input {
  border-color: #BCCDF0;
}
input.gsc-search-button {
  border-color: #666666;
  background-color: #CECECE;
}
.gsc-tabHeader.gsc-tabhInactive {
  border: none;
  background-color: #E9E9E9;
}
.gsc-tabHeader.gsc-tabhActive {
  border: none;
  background-color: inherit;
}
.gsc-tabsArea {
  border: none;
  margin-top: 0px;
}
.gsc-webResult.gsc-results {
  margin: 0px;
  padding: 0px;
}
.gsc-webResult.gsc-result {
  background-color: inherit;
  border: none;
  margin-bottom: 10px;
  padding: 0px;
}
.gsc-webResult.gsc-result:hover {
  background-color: inherit;
  border: none;
}
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b,
a.gsc-trailing-more-results:link {
  color: #000099;
}
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b {
  color: #990099;
}
.gsc-cursor-box {
  border: none;
  margin: 10px 0px 0px;
}
.gsc-cursor-page {
  background: inherit;
  border: none;
  color: #000099;
}
.gs-webResult.gs-result .gs-snippet {
  color: #000000;
}
.gs-webResult.gs-result .gs-visibleUrl,
.gs-webResult.gs-result .gs-visibleUrl-short {
  color: #008000;
}
.gs-webResult.gs-result .gs-visibleUrl-long {
  display: block;
}
.cse .gs-promotion.gs-result,
.gs-promotion.gs-result {
  border-color: #f0f0e8 important;
  background-color: #f0f0e8 important;
}
.gs-promotion.gs-result a.gs-title:link,
.gs-promotion.gs-result a.gs-title:visited {
  color: #000088;
}
.gs-promotion.gs-result a.gs-title:hover,
.gs-promotion.gs-result a.gs-title:active {
  color: #880088;
}
.gs-promotion.gs-result .gs-snippet {
  color: #000000;
}
.gs-promotion.gs-result .gs-visibleUrl,
.gs-promotion.gs-result .gs-visibleUrl-short {
  color: #007000;
}

/* Body content */
#pwg-body {
  margin: 0px;
  padding: 60px 10px 50px; /* top right+left bottom */
}

#pwg-content {
}

/* Footer */
#pwg-footer {
  background: rgba(24, 24, 20, 0.9);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  bottom: 0px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2) inset;
  clear: both;
  color: #cccccc;
  font-size: 10px;
  left: 10px;
  position: fixed;
  right: 10px;
/*  margin: 10px 10px 0px;*/ /* top right+left bottom */
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

#pwg-footer-body {
  padding: 10px;
}

#pwg-footer-body a {
  color: #ccccc0;
  text-decoration: underline;
}

/* iPhone/iPod touch overrides */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
       only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .navbar-brand {
    display: none !important;
  }

  .pwg-navbar {
    position: relative;
  }

  ul.nav {
    margin-left: -5px;
  }

  #pwg-body {
    padding: 10px 10px 50px;
  }

  #pwg-footer {
    margin: -50px 20px 0px 0px; /* top right bottom left */
    position: relative;
  }

  h1 {
    font-size: 150%;
  }

  h1.pwg-title small {
    display: none;
  }

  .jumbotron h1 {
    font-size: 18px;
  }

  .jumbotron p {
    font-size: 12px;
  }
}

/* iPad overrides */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Print overrides */
@media print {
  /* Bootstrap adds URLs after every link, stop doing that... */
  a[href]:after {
    content: none !important;
  }

  /* and don't print any form controls, either */
  input {
    display: none;
  }
}
